{% extends 'base.html.twig' %}

{% block title %}MyQuiz Accueil{% endblock %}

{% block body %}
        <h1 class="text-center">Bienvenue sur My quizz !</h1>
        <h3 class="text-center">Sélectionner un <b><a href={{ path("quiz_list") }}>quizz</a></b> pour commencer.</h3>
        <img src="images/quiz-logo.png" class="mx-auto d-block quizz-logo">
{% endblock %}
