{% extends 'base.html.twig' %}    
{% block title %}Liste des Quizz{% endblock %}

{%block body%}
    <h1 class="text-center padding-bottom-5">Nos quizz</h1>
    <table class="table">
        <thead>
            <tr>
                <th style="font-size:30px">Quizz</th>
                <th style="font-size:30px">Actions</th>
            </tr>
        </thead>
        {% for quiz in quizz %}
        <tbody>
            <tr>
                <td style="width:85%;font-size:20px">{{ quiz.name }}</td>
                <td ><a href="{{ path('quiz_show', {'id': quiz.id}) }}"><button class="btn btn-primary btn-lg">Jouer</button></a></td>
            </tr>
        {% endfor %}
    </ul>
{%endblock%}